# No whitespace after the comma or in your part name!

config SHIELD_A_BALL_LEFT
    def_bool $(shields_list_contains,a_ball_left)

config SHIELD_A_BALL_RIGHT
    def_bool $(shields_list_contains,a_ball_right)

config SHIELD_A_BALL_DONGLE
	def_bool $(shields_list_contains,a_ball_dongle)