if SHIELD_A_BALL_DONGLE || SHIELD_A_BALL_LEFT || SHIELD_A_BALL_RIGHT
config ZMK_SPLIT
	default y
config ZMK_POINTING
    default y
endif

if SHIELD_A_BALL_DONGLE
config ZMK_KEYBOARD_NAME
	default "ThumbsUp! Trackball"
config ZMK_SPLIT_ROLE_CENTRAL
	default y
endif

if SHIELD_A_BALL_RIGHT
config SPI
    default y
endif