#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
//#include <dt-bindings/zmk/mouse.h>

#include <dt-bindings/zmk/outputs.h>
//#include <dt-bindings/zmk/mouse.h>
//#include <dt-bindings/zmk/ext_power.h>
//#include <behaviors/mouse_keys.dtsi>
//#include <input/processors.dtsi>


#define DEFAULT 0

// Mouse speed increased
#define ZMK_POINTING_DEFAULT_MOVE_VAL 1000  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 15    // default: 10
//#include <dt-bindings/zmk/pointing.h>

/*
&glidepoint_listener {
    scroller {
        layers = <DEFAULT>;
        input-processors = <&zip_xy_to_scroll_mapper>, <&zip_scroll_scaler 1 5>;
    };
};
*/

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &mkp RCLK  &mkp MCLK  &mkp LCLK
            >;
        };
    };

};
